<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :título %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= form.label :descripción %>
    <%= form.text_area :description, :size=> "30", :style => "height:200px" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :categoría %>
    <%= form.select(:cathegory, [["todas las categorías", "todas las categorías"],
    ["e-commerce", "e-commerce"], ["dropship", "dropship"], ["fulfillment",
    "fulfillment"], ["productos", "productos"]]) %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Crear Pregunta"%>
  </div>
  <br>
<% end %>
