<div class="container">
  <div class="row" style="background-color: #f3f3f3ff">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <br>
      <% @questions.each do |question| %>
        <div class="question">
          <a class="aForquestion" href=<%= question_path(question.id) %>>
            <div class="row" style="height:20px;">
            </div>
            <div class="col-sm-2">
              <div class="row">
                <div class="col-sm-3">
                </div>
                <% if question.user.image.attached? %>
                <%= image_tag question.user.image.variant(resize: "80x80").processed, class: 'img-circle' %>
                <% end %>
              </div>
              <div class="row">
                <h6 class="l-mid"><%= question.user.name %> <%= question.user.last_name %></h6>
              </div>
            </div>
            <div class="col-sm-8">
              <h3 class="l-mid"><%= question.title %></h3>
            </div>
            <div class="col-sm-2">
              <h4 class="h-red">Categoría:</h4>
              <h5 class="l-mid"><%= question.cathegory %></h5>
              <h4 class="h-red">Resuelta:</h4>
              <% if question.solved %>
                <h5 class="l-mid">Sí</h5>
              <% else %>
                <h5 class="l-mid">No</h5>
              <% end %>
            </div>
          </a>
        </div>
        <br>
      <% end %>
      <br>
    </div>
  </div>
  <div class="row pull-right">
    <%= link_to 'Nueva Pregunta', new_question_path %>
    </div>
  </div>
</div>
