<div class="container">
  <br><br><br>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-lg-4 centered" style="border:1px solid;">
      <div class="row" style="background-color:#e83338ff;">
        <h2 class="text-center" style="color:white;">Registrarme</h2>
      </div>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :contraseña %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :confirmar_contraseña %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Registrarme" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
